.fieldWrapper {
    display: flex;
    align-items: center;
}

.fieldLabel {
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.inputField {
    font-family: Outfit, sans-serif;
    margin: 1rem;
    border: none;
    border-bottom: 3px solid black;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    background-color: var(--background-color);
}

.largeField {
    border: none;
    border-bottom: 3px solid black;
}
