@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap");
:root {
    --accent: #487eb0;
    --background-color: #fbc531;
    --text-color: #f5f6fa;
}

html,
body,
h1 {
    padding: 0;
    margin: 0;
    font-family: Outfit, sans-serif;
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
